@import '../partials//variables.scss';


.source-family{
    font-family: Source Serif Pro, bold;
}

.semiboldsource-family{
    font-family: Source Serif Pro, Semibold; 
}

.semiboldmuli-family{
    font-family: Mulish, SemiBold;
}

.muliregular-family{
    font-family: Mulish, Regular;
}

.fontsize-header{
    font-size: 48px;
}

.fontsize-Subheader{
    font-size: 36px;
}

.hero-catagory{
    width: 90%;
}

.regularsize{
    font-size: 16px;
}