// Header mixin

@mixin layout {
    padding-left: 130px;
    padding-right: 130px;
}

@mixin venialogo {
    text-transform: uppercase;
    font-size: 18px;
    font-family: mulish;
    letter-spacing: 4.6px;
    font-weight: bold;
}

@mixin headfootborder {
    border-bottom: 2px solid $border-color;
}

@mixin floatright {
    float: right;
}

@mixin texts {
    padding-right: 15px;
    font-size: 16px;
    font-family: Mulish;
    color: $white-color;
}

@mixin textss {
    padding-left: 10px;
    text-align: center;
    font-size: 16px;
    padding-right: 25px;
}

@mixin size {
    font-size: 16px;
    @extend .muliregular-family;
}

@mixin headingsize {
    margin: 0px;
    padding: 10px 0px;
    font-family: Source Sans Pro, Semibold;
    color: $unnamed-color;
    text-align: center;
    font-size: 48px;
}


@mixin ptitle {
    font-family: Mulish;
    color: $unnamed-color;
}

@mixin shipping {
    padding: 24px;
    font-size: 20px;
}

@mixin estimateborder {
    border-bottom: 1px solid $border-color;
}

@mixin summery {
    padding: 27.5px;
    font-size: 14px;
}

@mixin footer_titles {
    font-size: 16px;
    margin-bottom: 20px;
    font-family: Mulish, semiBold;
    color: $unnamed-color;
}

@mixin text {
    font-size: 16px;
    font-family: Mulish;
    color: $grey-dark;
    margin-top: 8px;
    margin-bottom: 8px;
}

@mixin footer_icon {
    font-size: 18px;
    padding-right: 15px;
}

@mixin filterborder {
    margin-top: 20px;
    margin-right: 45px;
    border-top: 2px solid $greyL2-color;
}

@mixin pricingpadding {
    padding-bottom: 10px;
    font-size: 14px;
}

@mixin footersizing {
    font-size: 14px;
    text-decoration: underline 0.5px solid $unnamed-color;
    float: right;
    padding-top: 15px;
}

@mixin detailborder {
    border-top: 1px solid $greyL2-color;
}

@mixin radius {
    border-radius: 5px;
    width: 15%;
    margin-right: 15px;
}

@mixin saveshare {
    @extend .semiboldmuli-family;
    @extend .regularsize;
    font-weight: 600;
    padding-right: 17px;
    padding-left: 10px;
    vertical-align: top;
}

@mixin peekbagtitle {
    margin: 0px;
    padding-top: 10px;
    font-family: Source Sans Pro, Semibold;
    font-size: 36px;
    color: $unnamed-color;
}

@mixin productcatagories {
    font-size: 16px;
    font-weight: bold;
    font-family: Mulish;
    color: $greyD2-color;
}

@mixin cursor {
    cursor: pointer;
}

@mixin boldFont {
    font-weight: bold;
}

@mixin textCenter {
    text-align: center;
}

@mixin hero-catagory {
    margin-top: -87px !important;
    margin: auto;
    padding: 20px;
    background-color: $title-color;
    position: relative;
    width: 83%;
    border-bottom: 8px solid $primary-brand;
}

@mixin hero-catagorytext {
    color: $white-color;
    font-size: 16px;
}

@mixin home-shopcatagory {
    font-family: Source Serif Pro, Semibold;
    font-size: 24px;
    color: $white-color;
    margin: 0;
}

@mixin home-shopbtn {
    background-color: $primary-brand;
    border: 2px solid $primary-brand;
    color: $white-color;
    text-transform: uppercase;
    height: 40px;
    font-size: 14px;
    width: 220px;
}

@mixin section-ender {
    border: 6px solid $primary-brand;
    width: 10%;
}

@mixin input {
    border: 2px solid $greyL2-color;
    border-radius: 8px;
    width: 320px;
    height: 34px;
    @extend .semiboldmuli-family;
    @extend .regularsize;
}

@mixin field-spacing {
    margin-top: 30px;
}

@mixin continuebtn-checkout {
    width: 347px;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
    background-color: $white-color;
    color: $primary-brand;
    border: 2px solid $orange-color;
}

@mixin radio-section {
    @include size;
    font-weight: bold;
    font-size: 16px;
    margin-left: 15px;
}

@mixin field-box {
    border: 1px solid $border-color;
    border-radius: 2px;
    width: 90%;
    padding: 18px;
    opacity: 1;
    margin-bottom: 25px;
}

@mixin field-padding {
    padding-bottom: 20px;
}

@mixin field-margin {
    margin-bottom: 20px;
}

@mixin mobile-padding {
    padding-left: 10px;
    padding-right: 10px;
}

@mixin mobile-margin {
    margin-bottom: 15px;
}

@mixin mobile-box {
    display: block !important;
    width: 50% !important;
    padding-bottom: 20px;
    // padding-left: 20px;
    color: $grey-D1;
    font-family: Muli, Regular;
    font-size: 16px;
}

@mixin dropdown-checkbox {
    font-family: Muli, Regular;
    background-color: $white-color;
}

@mixin size-family{
    font-family: Source Serif Pro, Semibold;
    font-size: 36px;
    color: $unnamed-color;
}

@mixin text-color {
    color: $unnamed-color;
}

@mixin muli-sizetwenty {
    font-size: 20px;
    font-family: Muli, SemiBold;

}

@mixin border-btn-hover {
    &:hover{
        border-color: $primary-D1;
        color:$primary-D1;
    }
}