@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100&family=Source+Sans+Pro&family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100&family=Source+Sans+Pro&family=Source+Serif+Pro&display=swap');


// colors
$white-color: #FFFFFF;
$grey-color: #F4F5F5;
$greyD2-color: #181C24;
$greyL1-color: #E5E5E7;
$title-color: #1B252CD9;
$unnamed-color: #172026;
$primary-brand: #1F39FF;
$greyL2-color: #B5B7BC;
$Grey-color: #767B7F;
$color-header: #E2E6E9;
$border-color: #D1D3D6;
$grey-M1-color: #91959C;
$grey-dark: #545D63;
$header-color: #1B252C;
$darkBlue-color: #0482ad;
$darkPink-color: #9f3c6c;
$darkBlack-color: #343434;
$lightGrey: #797979;
$Dark-green: #2D9D78;
$light-orange: #FDBA5E;
$primary-m1: #336DFF;
$light-purple: #6408D3;
$light-pink: #F9009A;
$filter-border: #DFE1E2;
$primary-brand: #E26A2C;
$primary-M1: #FDA65D;
$orange-color: #D4703D;
$shipping-color: #72777F;
$grey-D1: #535965;
$primary-D1: #FF8243;
$dot-color: #1D1D1B;
$header-2nd-color :#E0E0E0

