@import '../partials/variables.scss';
@import '../common/mixin.scss';

.footerrow {
    // @include headfootborder;
    border-top: 1px solid $greyL2-color;
}

.footercontainer {
    .footerbanner {
        width: 60%;
        padding-top: 5px;
    }

    .footeradres {
        @include ptitle;
        font-size: 14px;
        text-align: center;
    }

    .footeruse {
        @include ptitle;
        @include footersizing;

    }

    .footerpolicy {
        @include ptitle;
        @include footersizing;
        padding-left: 20px;
    }
}



.footer-bottom {

    padding: 14px 0;
    display: flex;
    align-items: center;

    .footervenia {
        @include venialogo;
        color: $greyD2-color;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    figure {

        img {
            width: 7rem;
            object-fit: cover;
            height: 20px;
        }
    }

    .copyright {
        text-align: center;
    }

    .left-nav {
        ul {
            display: flex;
            justify-content: space-between;
            list-style: none;
        }

        li a {
            text-decoration: underline;
            list-style: none;
            color: $grey-dark;
            @include cursor;
        }
    }

    .footerColor {
        color: $grey-dark;

    }

}