@import '../common/extend.scss';
@import '../common/layout.scss';
@import '../common//mixin.scss';
@import '../partials/variables.scss';

.checkout {
    .checkout-header {
        @extend .semiboldsource-family;
        @extend .fontsize-header;
        text-align: center;
    }

    .sectionstart {
        @include section-ender;

    }
}

.next-page {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.sign-Section {
    @include ptitle;
    padding: 18px;
    margin-bottom: 20px;
    border: 1px solid $border-color;
    border-radius: 2px;
    box-shadow: 0 0 6px $border-color;

    .signin-text {
        @include muli-sizetwenty;
        @include text-color;
    }

    .sign-in {
        @include border-btn-hover;
        border: 2px solid $primary-brand;
        text-transform: uppercase;
        font-size: 14px;
        background-color: $white-color;
        color: $primary-brand;
        padding: 9px 40px;
    }

}



.guest-check {
    @include size-family;
    margin: 15px 0;
}

.field-details {
    @include field-box;
}

.shipping-info {
    display: inline-block;
    font-family: 'Mulish';
    font-size: 16px;
    width: 100%;

    .content-one {
        padding-bottom: 20px;
        width: 30%;
        display: inline-block;
        color: $grey-D1;
        vertical-align: top;

        .content-one-para{
            margin-top: 0;
        }
    }

    .content-two {
        padding-bottom: 20px;
        width: 30%;
        display: inline-block;
        color: $grey-D1;
    }
}



.field-edit {
    display: flex;
    justify-content: end;
    padding: 0;
    padding-bottom: 20px;

    .text-edit {
        @extend .semiboldmuli-family;
        @extend .regularsize;
        color: $primary-brand;
        margin: 0;
    }

    .edit-2 {
        padding-right: 10px;
    }
}

.estimating {
    margin-top: 35px;

    .section2,
    .section1 {
        @include ptitle;
        color: $shipping-color;
        padding: 20px 20px 20px 0;
        border-top: 1px solid $border-color;
    }

    .section2 {
        padding: 20px 20px 20px 0;
        border-bottom: 1px solid $border-color;
    }
}

.topbottom-border {
    @include ptitle;
    padding: 20px 20px 20px 0;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    margin-bottom: 20px;
}

.country-dropdown,
.state-dropdown {
    background-color: $white-color;
}

.content-section {
    width: 50%;
}

input[type="radio"] {
    accent-color: #E26A2C;
    height: 20px;
    width: 20px;
}

input[type="checkbox"] {
    accent-color: #E26A2C;
    border: 2px solid #1F39FA;
}
.default-radio{
    vertical-align: middle;
}