@import '../partials/variables';
@import '../common/mixin.scss';

.Productdetails {
    .paddingTop15 {
        margin-top: 20px;
        padding-right: 40px;
    }

    .catagary {
        padding-top: 25px;

        .catagory1 {
            @include cursor;
            @include size;
            @include text-color;

        }

        .catagory2 {
            @include cursor;
            @include size;
            @include text-color;
        }

        .catagory3 {
            @include size;
            @include cursor;
            color: $Grey-color;
        }
    }


    .peekbag {
        @include peekbagtitle;
    }

    .detailimage {
        width: 60%;
        text-align: center;
        @include boldFont;
    }

    .starIcon {
        padding-top: 10px;
        display: flex;

        .startCount {
            @include text-color;
            @extend .semiboldmuli-family;
            text-decoration: underline;
            font-weight: 600;
            display: flex;
            margin-top: 5px;
            font-size: 14px;
            justify-content: center;
            align-items: center;
        }
    }

    .detailprice {
        font-family: Mulish, SemiBold;
        color: $unnamed-color;
        font-size: 20px;
        @include boldFont;
    }

    .loreamdetail {
        @include ptitle;
        @include headfootborder;
        font-size: 16px;
        padding-bottom: 10px;
    }

    .readmore {
        @include text-color;
        text-decoration: underline;
        font-weight: 600;
    }

    a {
        @include text-color;
    }

    .detailcolor {
        @include ptitle;
        padding-bottom: 15px;
        padding-top: 15px;
        font-size: 20px;
        @include boldFont
    }


    .detailsize {
        @include ptitle;
        font-size: 20px;
        padding-top: 10px;
        @include boldFont
    }

    .quantity {
        @include ptitle;
        font-size: 20px;
        font-family: Mulish, SemiBold;
        margin-bottom: 10px;
        font-weight: 600;
    }

    svg {
        &:hover {
            background: #EAEBEB;
            // border: 2px solid #B5B8BA;
        }
    }

    .quanrbtn {
        border: 2px solid $grey-M1-color;
        border-radius: 8px;
        width: 114px;
        height: 36px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        background: white;
    }

    .addbtn {
        background-color: $primary-brand;
        color: $white-color;
        border: none;
        width: 280px;
        height: 35px;
        text-align: center;
        margin-bottom: 15px;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            background-color: $primary-D1;
        }
    }

    .saveIcon {
        padding-left: 70px;
    }

    .saving {
        @include saveshare;
    }

    .sharing {
        @include saveshare;
    }

    .btn-background {
        background: none;
        border: none;
        vertical-align: middle;
    }

    .Box {
        width: 36px;
        text-align: center;
        height: 35px;
        margin-top: 14px;
        line-height: 34px;
        border-radius: 8px;
        border: 2px solid $grey-M1-color;
        padding: 0 10px;
        cursor: pointer;
        display: inline-block;
        margin-left: 14px;
    }

    .image-gallery-content.left .image-gallery-slide .image-gallery-image, .image-gallery-content.right .image-gallery-slide .image-gallery-image{
        max-height: 80vh;
    }
}

.productdescribe {
    padding-top: 40px;

    .hoodie {
        @include peekbagtitle;
        padding-bottom: 20px;

    }

    .describe {
        @include ptitle;
        font-size: 16px;
    }

    .description {
        @include ptitle;
        font-size: 20px;
        font-weight: 600;
    }

    .sectionender {
        @include section-ender;
    }
}